<form action="/login" method="post">
  <legend> login  </legend>


  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
  </div>

  <div class="form-group">
    <label for="inputPasssword">Password</label>
    <input type="password" class="form-control" id="inputPasssword" placeholder="Password" name="password">


  <button type="submit" class="btn btn-default">login</button>
</form>
