<div class="picture">


<div class="form-group">
<img id="imgPlaceholder" alt="avatar" />
</div>
<button class="btn btn-default" id="uploadPhotoBtn">Chose profile photo</button>
</div>

{{#if user}}
<form action="/edit" method="POST">
  <legend> Sing Up  </legend>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" value="{{user.username}}">
  </div>
  <div class="form-group">
    <label for="inputPicPath">Picture</label>
    <input type="text" class="form-control" id="inputPicPath" name="picture">
  </div>

  <div class="form-group pass">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
  </div>



  <button type="submit" class="btn btn-default">Sing Up</button>
</form>
{{else}}
<form action="/singup" method="POST">
  <legend> Sing Up  </legend>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <label for="inputPicPath">Picture</label>
    <input type="text" class="form-control" id="inputPicPath" name="picture">
  </div>

  <div class="form-group pass">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
  </div>



  <button type="submit" class="btn btn-default">Sing Up</button>
</form>
{{/if}}
